---
import type { Meta } from "@/content.config";
import { LayoutDefault } from "@/layout";
import type { Entries } from "@/lib/collections";
import { getTreeNode, sortTreeNodeFilesFirst } from "@/lib/tree-node";
interface Props {
    entries: Entries;
    meta: Meta;
}
import { TreeNodePlain } from "@/components";
const { entries, meta } = Astro.props;

const bookmarksStructure = getTreeNode(entries, "bookmarks");
const sortedBookmarksStructure = sortTreeNodeFilesFirst(bookmarksStructure);
---

<LayoutDefault {...meta} type="main">
    <h1>Bookmarks</h1>
    <div class="flex flex-col h-full">
        <article class="flex-1">
            {
                sortedBookmarksStructure.map((node) => {
                    return (
                        <div class="space-y-4">
                            <TreeNodePlain node={node} level={0} />
                        </div>
                    );
                })
            }
        </article>
    </div>
</LayoutDefault>
