---
import type { CollectionName } from "@/content.config";

import { getEntry, render } from "astro:content";
import { LayoutDefault } from ".";
import { getFormatDate } from "@/lib/utils";

interface Props {
  collection: CollectionName;
  entryId: string;
}

const { collection, entryId } = Astro.props;

const entry = await getEntry(collection, entryId);
if (!entry) {
  throw new Error(`Entry not found: ${collection}/${entryId}`);
}

const { title, date, mod } = entry.data;

const { Content, remarkPluginFrontmatter } = await render(entry);
---

<LayoutDefault {...remarkPluginFrontmatter} type="main">
  {
    date && (
      <time
        datetime={getFormatDate(mod ?? date, "es-ES")}
        class="text-muted text-sm"
      >
        actualizado el {getFormatDate(mod ?? date, "es-ES")}
      </time>
    )
  }
  <h1>{title}</h1>
  <Content />
</LayoutDefault>
