---
import { NoListenIcon, PlayIcon } from "@/components/icons";
import PlayNowComponent from "@/components/molecules/playnow.svelte";
const serviceUrl = import.meta.env.SERVICE_URL;
const apiKey = import.meta.env.SERVICE_API_KEY;
---

<section class="space-y-4">
  <PlayNowComponent client:load url={serviceUrl} apiKey={apiKey}>
    <svelte:fragment slot="play">
      Escuchando ahora <PlayIcon className="inline-flex size-4" />
    </svelte:fragment>
    <svelte:fragment slot="noplay">
      Última reproducción <NoListenIcon className="inline-flex size-4" />
    </svelte:fragment>
  </PlayNowComponent>
</section>
