@import '@fontsource-variable/inter';
@import "tailwindcss";

@theme {
    --font-sans: "font", "Inter Variable", sans-serif;
    --color-muted: var(--muted);
    --color-accent: var(--accent);
    --color-content: var(--content);
    --color-body: var(--body);
    --color-link: var(--link);
    --color-divider: var(--divider);
    --color-code-border: var(--code-border);
    --color-quote: var(--quote);
    --color-astro-code: var(--astro-code);
    --color-astro-code-content: var(--astro-code-content);
    --color-pagefind-body: var(--pagefind-background);
    --color-warning: var(--warning);
}



@layer base {

    :root {
        --body: theme(colors.white);
        --accent: theme(colors.neutral.900);
        --content: theme(colors.neutral.700);
        --muted: theme(colors.neutral.500);
        --link: theme(colors.blue.600);
        --divider: theme(colors.neutral.200);
        --code-border: theme(colors.neutral.200);
        --quote: theme(colors.neutral.400);
        --warning: theme(colors.purple.600);

        /* Shiki syntax highlighting colors */

        --astro-code: theme(colors.neutral.50);

        /* Pagefind */

        --pagefind-background: theme(colors.neutral.50);
        /* Obsidian metadatalinks */

        --background-modifier-border: theme(colors.neutral.200);
        --background-primary: theme(colors.neutral.50);
        --background-secondary: theme(colors.neutral.100);
        --text-normal: var(--color-content);
        --text-muted: var(--color-muted);
        --text-faint: var(--color-muted);
    }

    :root.dark {
        --body: theme(colors.zinc.900);
        --accent: theme(colors.zinc.50);
        --content: theme(colors.zinc.200);
        --muted: theme(colors.zinc.500);
        --link: theme(colors.blue.400);
        --divider: theme(colors.zinc.700);
        --code-border: theme(colors.zinc.900);
        --quote: theme(colors.zinc.500);
        --warning: theme(colors.purple.400);

        /* Shiki syntax highlighting colors */

        --astro-code: theme(colors.zinc.800);

        /* Pagefind */

        --pagefind-background: theme(colors.zinc.700);

        /* Obsidian metadatalinks */

        --background-modifier-border: theme(colors.zinc.700);
        --background-primary: theme(colors.zinc.900);
        --background-secondary: theme(colors.zinc.800);
        --text-normal: var(--color-content);
        --text-muted: var(--color-muted);
        --text-faint: var(--color-muted);

        color-scheme: dark;
    }

    :root.dark .astro-code,
    :root.dark .astro-code span {
        color: var(--shiki-dark) !important;
    }



    html {
        @apply motion-safe:scroll-smooth size-full text-base;
        @apply text-content bg-body;
        scrollbar-gutter: stable;
    }

    body {
        @apply h-dvh subpixel-antialiased;
        text-rendering: optimizeLegibility;
    }

    main {
        @apply p-4;
    }

    section {
        @apply my-8;
    }

    ul {
        @apply list-outside list-disc mb-4 pl-4;
    }

    ol {
        @apply list-outside list-decimal mb-4 pl-4;

    }


    li {
        @apply leading-relaxed;

    }

    ul:has(li.list-none) {
        @apply pl-0;
    }


    p {
        @apply mb-4;
        @apply leading-relaxed;
    }

    a:hover {
        @apply text-link;
    }

    a.external-link {
        @apply text-link;
    }

    blockquote {
        @apply italic border-quote text-quote border-l-[3px];
        @apply pl-4 mb-4;
    }

    h1,
    h2,
    h3,
    h4 {
        text-wrap: balance;
        @apply text-accent;
    }

    h1 {
        @apply text-2xl;
        @apply mb-4;

    }

    h1,
    h2,
    h3 {
        @apply font-semibold;
    }

    h2 {
        @apply text-xl;
        @apply mb-3;
    }

    h3 {
        @apply text-lg;
        @apply mb-2;
    }

    h4,
    h5,
    h6 {
        @apply font-medium;
        @apply mb-1;
    }

    h4 {
        @apply text-base;

    }

    h5,
    h6 {
        @apply text-base;

    }

    h6 {
        @apply text-sm;

    }

    a.external-link {
        @apply hover:underline hover:underline-offset-2;
    }

    pre::-webkit-scrollbar {
        display: none;
    }

    pre {
        @apply p-2.5;
        @apply rounded;
        @apply text-sm leading-snug;
        @apply mb-4;
        -ms-overflow-style: none;
        scrollbar-width: none;

        @apply border border-code-border;

        code {
            @apply border-0;
        }
    }

    code {
        @apply font-mono bg-astro-code px-1.5 p-0.5 rounded border border-code-border text-sm;
    }

    .astro-code,
    .astro-code span {
        @apply !bg-astro-code;
    }

    table {
        @apply block w-fit overflow-auto whitespace-nowrap text-start;
    }

    hr {
        @apply my-5 border-divider;
    }

    img {
        @apply aspect-video max-w-full rounded object-cover;
    }

    u {
        @apply no-underline;
    }

    p.warning {
        @apply text-warning text-sm border-l-4 pl-4;
    }

    details[open]>summary>svg.chevron-right {
        @apply rotate-90;
    }
}