---
import { Link } from "@/components/atoms";
import PlayNowMini from "@/components/atoms/playnow-mini.svelte";
import { NoListenIcon, PlaceholderIcon, PlayIcon } from "@/components/icons";
---

<section>
  <Link href="/music">
    <PlayNowMini client:load>
      <svelte:fragment slot="play">
        <PlayIcon className="inline-flex size-4" />
      </svelte:fragment>
      <svelte:fragment slot="nocover">
        <PlaceholderIcon className="inline-flex size-3 pb-0.5" />
      </svelte:fragment>
      <svelte:fragment slot="noplay">
        <NoListenIcon className="inline-flex size-3.5" />
      </svelte:fragment>
    </PlayNowMini>
  </Link>
</section>
