---
import type { TreeNode } from "@/lib/collections";
import { unSlugify } from "@/lib/utils";
import Heading from "@/components/heading.astro";
import ListIcon from "@/components/icons/list-icon.astro";
import IndexIcon from "./icons/index-icon.astro";
interface Props extends TreeNode {}

const { children, name, type, title, level, slug } = Astro.props;
const childrenAreFilesAndIncludeGuides =
  children && children.length > 0 && children.every((child) => child.type === "file" && child.isGuide);
---

<li class="!p-0">
  {
    type === "file" && (
      <a class="no-underline block" href={slug}>
        {unSlugify(title || name)}
      </a>
    )
  }

  {
    type === "folder" && children && children.length > 0 && (
      <ul>
        {name !== "" && (
          <Heading n={level + 1} className="text-content-300 dark:text-primary flex items-center gap-1" id={name}>
            {unSlugify(title || name)}
            {childrenAreFilesAndIncludeGuides && (
              <span class="text-muted flex items-center gap-1">
                ({children.length}) <ListIcon className="mt-[0.1rem] size-5" />
              </span>
            )}
            {!childrenAreFilesAndIncludeGuides && <IndexIcon className="mt-[0.2rem] size-6" />}
          </Heading>
        )}
        {children.map((child) => (
          <Astro.self {...child} />
        ))}
      </ul>
    )
  }
</li>
