---
import { TagIcon } from "@/components/icons";

export interface Props {
  href?: string;
}

const { href } = Astro.props;
---

<a class="flex items-center" href={href}>
  <TagIcon />
  <slot />
</a>
