---
import { site } from "@/constants";
---

<section class="border-t">
  <script
    is:inline
    src="https://giscus.app/client.js"
    data-repo="ansango/ansango.dev"
    data-repo-id="R_kgDOQAhHcw"
    data-category="Announcements"
    data-category-id="DIC_kwDOQAhHc84CxXgQ"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="transparent_dark"
    data-lang={site.lang}
    data-loading="lazy"
    crossorigin="anonymous"
    async></script>
</section>
