---
import { site } from "@/constants";

interface Props {
  year?: number;
  totalScrobbles?: number;
  listeningHours?: number;
  uniqueArtists?: number;
}

const { year, totalScrobbles, listeningHours, uniqueArtists } = Astro.props;
---

<div class="border-divider border-b-[1px]">
  <h1>{year ? `Wrapped ${year}` : "Wrapped"}</h1>
  <p class="text-muted">
    {site.pages.wrapped.description}
  </p>
  {
    year && totalScrobbles && (
      <div class="mt-4 grid grid-cols-3 gap-4">
        <div>
          <p class="text-muted text-sm">Scrobbles</p>
          <p class="text-accent text-xl font-semibold">
            {totalScrobbles.toLocaleString("es-ES")}
          </p>
        </div>
        <div>
          <p class="text-muted text-sm">Horas</p>
          <p class="text-accent text-xl font-semibold">
            {listeningHours?.toLocaleString("es-ES")}
          </p>
        </div>
        <div>
          <p class="text-muted text-sm">Artistas</p>
          <p class="text-accent text-xl font-semibold">
            {uniqueArtists?.toLocaleString("es-ES")}
          </p>
        </div>
      </div>
    )
  }
</div>
