---
import { Link } from "@/components/atoms";

interface Props {
  tracks: any[];
  limit?: number;
}

const { tracks, limit = 10 } = Astro.props;
const displayTracks = tracks.slice(0, limit);
---

<section class="space-y-4">
  <h2>Top Tracks</h2>
  <ul class="space-y-2">
    {
      displayTracks.map((track, index) => (
        <li class="list-none">
          <Link href={track.url} className="flex items-baseline gap-2" blank>
            <span class="text-muted min-w-6 text-sm">{index + 1}</span>
            <div class="flex-1">
              <p class="line-clamp-1 text-sm font-medium">{track.name}</p>
              <p class="text-muted line-clamp-1 text-xs">
                {track.artist["#text"]} · {parseInt(track.playcount).toLocaleString("es-ES")} plays
              </p>
            </div>
          </Link>
        </li>
      ))
    }
  </ul>
</section>
