---
import { Link } from "@/components/atoms";

interface Props {
  albums: any[];
  limit?: number;
}

const { albums, limit = 10 } = Astro.props;
const displayAlbums = albums.slice(0, limit);
---

<section class="space-y-4">
  <h2>Top Albums</h2>
  <ul class="space-y-2">
    {
      displayAlbums.map((album, index) => (
        <li class="list-none">
          <Link href={album.url} className="flex items-baseline gap-2" blank>
            <span class="text-muted min-w-6 text-sm">{index + 1}</span>
            <div class="flex-1">
              <p class="line-clamp-1 text-sm font-medium">{album.name}</p>
              <p class="text-muted line-clamp-1 text-xs">
                {album.artist["#text"]} · {parseInt(album.playcount).toLocaleString("es-ES")} plays
              </p>
            </div>
          </Link>
        </li>
      ))
    }
  </ul>
</section>
