---
import Container from "@/components/container.astro";
import DocLayout from "@/layouts/document.astro";
import type { Metadata } from "@/types";
import { type Entries, treeNestedSorted, getTreeNameFolders, getGuideNameFolders } from "@/lib/collections";
import TreeNode from "@/components/tree-node.astro";

import Divider from "@/components/divider.astro";

interface Props {
  collection: string;
  entries: Entries;
  meta: Metadata;
}

const { entries, meta, collection } = Astro.props;

const tree = treeNestedSorted(entries);

const folders = getTreeNameFolders(tree);
const guides = getGuideNameFolders(tree);
---

<DocLayout {...meta}>
  <Container>
    <h1 class="capitalize">{collection}</h1>
    {
      folders.length > 0 && (
        <>
          <Divider />
          <h2>Índice</h2>
          <ul class="flex flex-wrap gap-1">
            {folders.map((folder, i) => {
              return (
                <li class="flex">
                  <a class="underline" href={`#${folder}`}>
                    {folder.replace(/-/g, " ")}
                  </a>
                  {i !== folders.length - 1 && <span class="text-muted">,</span>}
                </li>
              );
            })}
          </ul>
        </>
      )
    }
    {
      guides.length > 0 && (
        <>
          <h2>Guías</h2>
          <ul class="flex flex-wrap gap-1">
            {guides.map((folder, i) => {
              return (
                <li class="flex">
                  <a class="underline" href={`#${folder}`}>
                    {folder.replace(/-/g, " ")}
                  </a>
                  {i !== folders.length - 1 && <span class="text-muted">,</span>}
                </li>
              );
            })}
          </ul>
        </>
      )
    }
    <Divider />
  </Container>

  <Container className="flex flex-col h-full">
    <article class="flex-1">
      <ul>
        <TreeNode {...tree} />
      </ul>
    </article>
  </Container>
</DocLayout>
