---
import Container from "@/components/container.astro";
import DocLayout from "@/layouts/document.astro";
import type { Metadata } from "@/types";
import { getDirectoryWikiFolders, type Collections } from "@/lib/collections";
import TreeNode from "@/components/tree-node.astro";

interface Props {
  collection: string;
  entries: Collections;
  meta: Metadata;
}

const { entries, meta, collection } = Astro.props;
const directory = getDirectoryWikiFolders(entries);
---

<DocLayout {...meta}>
  <Container>
    <h1 class="capitalize">{collection}</h1>
  </Container>
  <Container className="flex flex-col h-full">
    <article class="flex-1">
      <ul>
        {directory.map((item) => <TreeNode {...item} />)}
      </ul>
    </article>
  </Container>
</DocLayout>
