---
import Container from "@/components/container.astro";
import DocLayout from "@/layouts/document.astro";
import type { Metadata } from "@/types";
import { type Entries, treeNestedSorted, getTreeNameFolders, getGuideNameFolders } from "@/lib/collections";
import TreeNode from "@/components/tree-node.astro";

import Divider from "@/components/divider.astro";
import ListIcon from "@/components/icons/list-icon.astro";
import IndexIcon from "@/components/icons/index-icon.astro";
import Tag from "@/components/tag.astro";

interface Props {
  collection: string;
  entries: Entries;
  meta: Metadata;
}

const { entries, meta, collection } = Astro.props;

const tree = treeNestedSorted(entries);

const folders = getTreeNameFolders(tree);
const guides = getGuideNameFolders(tree);
---

<DocLayout {...meta}>
  <Container>
    <h1>{collection}</h1>
    {
      folders.length > 0 && (
        <>
          <Divider />
          <h2 class="flex items-center gap-1">
            Índice <IndexIcon className="mt-[0.2rem] size-6" />
          </h2>
          <ul class="flex flex-wrap gap-1">
            {folders.map((folder, i) => {
              return (
                <li class="flex">
                  <Tag href={`#${folder}`}> {folder.replace(/-/g, " ")}</Tag>
                  {i !== folders.length - 1 && <span class="text-muted">,</span>}
                </li>
              );
            })}
          </ul>
        </>
      )
    }
    {
      guides.length > 0 && (
        <>
          <h2 class="flex items-center gap-1">
            Colecciones <ListIcon className="mt-[0.2rem] size-5 text-muted" />
          </h2>
          <ul class="flex flex-wrap gap-1 list-none">
            {guides.map((folder, i) => {
              return (
                <li class="flex">
                  <Tag href={`#${folder}`}> {folder.replace(/-/g, " ")}</Tag>
                  {i !== folders.length - 1 && <span class="text-muted">,</span>}
                </li>
              );
            })}
          </ul>
        </>
      )
    }
    <Divider />
  </Container>

  <Container className="flex flex-col h-full">
    <article class="flex-1">
      <ul class="!list-none !p-0">
        <TreeNode {...tree} />
      </ul>
    </article>
  </Container>
</DocLayout>
